services:
  backend:
    build: ./backend
    container_name: calcones_backend
    restart: unless-stopped
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
      - ./backend/AI:/app/AI
    depends_on:
      - db
    env_file:
      - .env
    dns:
      - 8.8.8.8
      - 8.8.4.4

  db:
    image: postgres:18
    container_name: calcones_db
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - dbdata:/var/lib/postgresql

  pgadmin:
    image: dpage/pgadmin4
    container_name: calcones_pgadmin
    restart: unless-stopped
    ports:
      - 5050:80
    env_file:
      - .env

volumes:
  dbdata:
